/* footer */

.mainFooterBox {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}